version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_DEFAULT_VHOST: /
    ports:
      - "5672:5672"
      - "15672:15672"

  spellbee-server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    container_name: spellbee-server
    depends_on:
      - rabbitmq
    ports:
      - "50051:50051"
    environment:
      # RabbitMQ connection string, found in server/rabbitmq.go
      - RABBITMQ_URL=amqp://admin:password@rabbitmq:5672/
    volumes:
      - ./data:/app/data

  stats-server:
    build:
      context: .
      dockerfile: ./statsserver/Dockerfile
    container_name: stats-server
    depends_on:
      - rabbitmq
    ports:
      - "6000:6000"
    volumes:
      - ./data:/app/data
